@font-face {
    font-family: 'Kadwa';
    src: url("assets/fonts/Kadwa-Regular.ttf") format("tff");
}

body {
    background-color: #F9F9F9;
    font-family: 'Kadwa', sans-serif;
}

.App {
    position: relative;
}

.Background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    display: flex;
    justify-content: space-between;
}

.block-bg {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.svg-vertical-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.svg-vertical-group img {
    display: block;
    width: 14rem;
}

.logo {
    margin: 1rem 0 2rem 4rem;
}

.bg-vector-2 {
    margin-left: 13rem;
    margin-top: -4rem;
}

.bg-vector-3 {
    margin-top: -1.7rem;
}

.bg-vector-4 {
    width: 5rem !important;
}

.WebsiteForm {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 4rem;
    gap: 1rem;
    background-color: #F6F5F5;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.10);
    border-radius: 20px;
    margin-top: 2rem;
}

.WebsiteForm input, .WebsiteForm textarea {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 1px 4px 0 rgba(0, 0, 0, 0.25) inset;
}

.WebsiteForm textarea {
    resize: none;
}

.add-files {
    display: flex;
    justify-content: end;
}

.add-files button, .Scenario button {
    padding: 0.5rem 1rem;
    border-color: #E20074;
    width: 7rem;
    border-radius: 25px;
    color: black;
    background: white;
}

.start {
    display: flex;
    justify-content: center;
}

.start button, .ScenarioCard button {
    padding: 0.5rem 4rem;
    border-radius: 15px;
    background: #E20074;
    border: none;
    color: white;
}

.ScenariosPage {
    width: 100dvw;
    background: #FFFFFF;
    margin-top: 5rem;
    min-height: calc(100vh - 5rem);
}

.ScenarioCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.warnings {
    display: flex;
    gap: 0.5rem;
}

.warnings img {
    width: 0.7rem;
}

.ScenarioCard h2 {
    font-weight: normal;
    font-size: 1rem;
}

.ScenarioCard-img {
    width: 15rem;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.ScenarioCard p {
    font-size: 0.7rem;
    color: #8E8E8E;
}

.scenariosCards {
    display: flex;
    margin: 2rem 2rem 4rem 2rem;
}

.scenario-info {
    display: flex;
    gap: 1rem;
    margin-left: 2rem;
}

.Scores {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider {
    width: 25rem;
    margin: 1rem 0;
}

.Scores-objects {
    display: flex;
    justify-content: center;
    width: 100%;
}

.Scores-objects img {
    width: 10rem;
}

.Scores-objects div p {
    text-align: center;
    margin: 0 0 3rem 0;
}

.Scenario {
    display: flex;
}

